.cards {
  @media (min-width: 790px) {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  display: block;
  margin-bottom: 20px;

  @media (min-width: 790px) {
    margin: 0;
  }
}